<div class="container">
    <div class="row m-0  p-4 mat-elevation-z8 bg-white serach-div">
        <mat-form-field class="w-100">
            <input matInput placeholder="SEARCH" id="keyboard">
        </mat-form-field>
        <!-- <div class="w-100 text-center p-2">
            <button class="" (click)="searchOnTEXT()" mat-stroked-button color="accent">SEARCH</button>
        </div> -->
        <mat-progress-bar *ngIf="isProcessing" mode="Indeterminate"></mat-progress-bar>
    </div>
    <div class="row m-0 pt-4">
        <div class="container-fluid mat-elevation-z8 bg-white">
            <nav class="tabbable p-0 mat-elevation-z8 bg-white">
                <div class="nav nav-tabs" id="nav-tab" role="tablist" *ngIf="videos?.length">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" *ngFor="let video of videos" (click)="sretUrl(video.id.videoId,viewer)" [ngClass]="{'active-row':video.id.videoId == videoId}">
                        <div>
                            <img class="mb-2" [src]="video.snippet.thumbnails.default.url" alt="">
                            <p><strong>{{video.snippet.title}}</strong></p>
                            <p>
                                <small> {{video.snippet.description}} </small>
                            </p>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
        <!-- <div class="col-12 col-sm-12 mat-elevation-z8 bg-white list" *ngIf="videos?.length"> -->
        <!-- 
            <div *ngFor="let video of videos" (click)="sretUrl(video.id.videoId,viewer)" [ngClass]="{'active-row':video.id.videoId == videoId}">
                
            </div> -->
        <!-- <mat-nav-list>
                <mat-list-item *ngFor="let video of videos" (click)="sretUrl(video.id.videoId,viewer)" [ngClass]="{'active-row':video.id.videoId == videoId}">
                    <img matListAvatar [src]="video.snippet.thumbnails.default.url" alt="...">
                    <h3 matLine> {{video.snippet.title}} </h3>
                    <p matLine>
                        <span> {{video.snippet.description}} </span>
                    </p>
                </mat-list-item>
            </mat-nav-list> -->
        <!-- </div> -->
        <div class="col-sm-12 px-0 mt-2">
            <iframe *ngIf="videoUrl" class="w-100 mat-elevation-z8 bg-white" [src]="videoUrl | safe">
            </iframe>
        </div>
    </div>
</div>


<ng-template #viewer>
    <!-- <div class="row m-0 p-0">

        <iframe *ngIf="videoUrl" class="w-100 h-100 mat-elevation-z8 bg-white" [src]="videoUrl | safe">
            </iframe>
        <div class="w-100 text-center p-2">
            <button class="" (click)="dialogRef.close()" mat-stroked-button color="accent">CLOSE</button>
        </div>
    </div> -->
</ng-template>